<h3 class="heading">add stock-taking data</h3>
<div class="dispensecontainer">
  <div class="addremove">
    <button class="reset" (click)="reset()">RESET</button>
    <button class="remove" (click)="remove()">REMOVE(-)</button>
    <button class="add" (click)="add()">ADD(+)</button>
  </div>
  <form (ngSubmit)="submit()">
    <div class="client">
      <label for="client"><button>store</button></label>
      <input
        list="clients"
        [ngModelOptions]="{ standalone: true }"
        id="client"
        autocomplete="off"
        [(ngModel)]="store"
      />
      <datalist id="clients">
        <option
          *ngFor="let store of stores"
          value="{{ store._name | uppercase }}"
        ></option>
      </datalist>
    </div>
    <div class="control" *ngFor="let stockItem of items">
      <input
        list="commodities"
        id=""
        autocomplete="off"
        placeholder="e.g metro"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="stockItem.commodity"
      />
      <datalist id="commodities">
        <option
          *ngFor="let commodity of commodityService.commodities"
          value="{{ commodity._name | uppercase }}"
        ></option>
      </datalist>
      <input
        type="number"
        [ngModelOptions]="{ standalone: true }"
        id=""
        autocomplete="off"
        [(ngModel)]="stockItem.beggining"
      />
    </div>
    <div class="submit">
      <input type="submit" value="SUBMIT STOCK" />
    </div>
  </form>
</div>
