<h3 class="heading">update client form</h3>
<form (ngSubmit)="clientService.updateClient(payload)">
  <div class="label">
    <label for="medicine">
      <h4>select client</h4>
    </label>
  </div>
  <div class="input">
    <input
      list="medicines"
      name="medicine"
      id="medicine"
      [(ngModel)]="payload.client"
      (ngModelChange)="setUpdated()"
      autocomplete="off"
    />
    <datalist id="medicines">
      <option
        *ngFor="let item of clientService.clients"
        value="{{ item._name }}"
      ></option>
    </datalist>
  </div>
  <div class="label">
    <label for="updates">
      <h4>updated form</h4>
    </label>
  </div>
  <div class="input">
    <input
      type="text"
      name="updated"
      id="updated"
      [(ngModel)]="payload.updated"
    />
  </div>
  <div class="submit">
    <input type="submit" value="UPDATE ITEM" />
  </div>
</form>
