h1 {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  color: white;
  /* background-color: aquamarine; */
}
.icon {
  padding-top: 15px;
  background-color: black;
}
.name {
  padding-top: 15px;
  background-color: rgb(97, 87, 87);
}
.back {
  flex: 0 0 10%;
}
