.dashboard {
  background-color: rgb(217, 198, 198);
  height: 100%;
  overflow-y: scroll;
}
.dashboard::-webkit-scrollbar {
  display: none;
}
.heading {
  height: 5%;
  text-align: center;
}
table {
  max-height: 95%;
  width: 80%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}
table::-webkit-scrollbar {
  display: none;
}
th,
td {
  text-align: left;
}
tbody tr:hover {
  background-color: rgb(46, 203, 203);
}
.message {
  height: 100%;
}
