<div class="dashboard" *ngIf="inventory.length > 0">
  <h3 class="heading">summary dashboard for clinic</h3>
  <table>
    <thead>
      <tr>
        <th>medicines</th>
        <th>available</th>
        <th>beggining</th>
        <th>received</th>
        <th>issued</th>
        <th>dispensed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of inventory">
        <td>{{ item.commodity }}</td>

        <td>
          {{
            item.beggining +
              reduceSum(item.received) -
              reduceSum(item.issued) -
              reduceSum(item.dispensed)
          }}
        </td>
        <td>{{ item.beggining }}</td>
        <td>{{ reduceSum(item.received) }}</td>
        <td>{{ reduceSum(item.issued) }}</td>
        <td>{{ reduceSum(item.dispensed) }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="message" *ngIf="inventory.length == 0">
  <app-billboard
    [message]="'please add stores(outlet) to see the summary statistics'"
    [style]="{ 'background-color': 'black', color: 'red' }"
  ></app-billboard>
</div>
