<div class="issue" *ngIf="requests.length > 0">
  <div class="issue-container" *ngFor="let item of requests">
    <div class="primary">
      <table>
        <thead>
          <tr>
            <th>date</th>
            <th>id</th>
            <th>from</th>
            <th>destination</th>
            <th>commodities</th>
            <th>status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ convertDate(item.request_date) }}</td>
            <td>{{ item._id }}</td>
            <td>{{ issueService.getStoreName(item.host) }}</td>
            <td>{{ issueService.getStoreName(item.client) }}</td>
            <td>{{ item.items.length }}</td>
            <th>{{ item.isIssued ? "issued" : "pending" }}</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="secondary">
      <button class="inspectbtn" (click)="inspect(item)">
        {{ item.inspect ? "CLOSE" : "INSPECT" }}
      </button>
      <button class="issuebtn" (click)="issueService.postIssue(item)">
        ISSUE
      </button>
      <button class="issueallbtn" (click)="issueService.issueAll(item)">
        ISSUE ALL
      </button>
    </div>
    <div class="primary tertiary" *ngIf="item.inspect">
      <table>
        <thead>
          <tr>
            <th>commodity</th>
            <th>requested</th>
            <th>issue</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let commodityItem of item.items">
            <td>
              {{ issueService.getCommodityName(commodityItem.commodity) }}
            </td>
            <td>{{ commodityItem.requested }}</td>
            <td><input type="number" [(ngModel)]="commodityItem.issued" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="message" *ngIf="requests.length == 0">
  <app-message
    [message]="'nothing to issue. workspace is clean'"
    [style]="{ 'background-color': 'white', color: 'green' }"
  ></app-message>
</div>
