.issue {
  background-color: rgb(212, 148, 220);
  height: 85vh;
  padding: 0.5vh;
}
.message {
  height: 100%;
}
.issue-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5vh;
  width: 50%;
  background-color: blanchedalmond;
}
table {
  width: 90%;
  margin-left: auto;
  margin-bottom: auto;
}

td,
th {
  text-align: left;
}
.primary {
  min-height: 5vh;
  background-color: white;
}
.secondary {
  display: flex;
  flex-flow: row nowrap;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.1vh;
  margin-top: 0.1vh;
  width: 90%;
  height: 3vh;
  justify-content: space-between;
}
.secondary .inspectbtn,
.secondary .issuebtn {
  flex: 0 0 20%;
  height: 100%;
  /* display: block; */
}
.inspectbtn {
  background-color: yellow;
}

.secondary .issueallbtn {
  flex: 0 0 auto;
  background-color: rgb(69, 228, 189);
}
