<!-- <h3 class="heading">create form</h3>
<form (ngSubmit)="commodityService.createCommodity(payload)">
  <div class="label">
    <label for="medicine">
      <h4>enter the medicine</h4>
    </label>
  </div>
  <div class="input">
    <input
      list="medicines"
      name="medicine"
      id="medicine"
      [(ngModel)]="payload.commodity"
    />
    <datalist id="medicines">
      <option
        *ngFor="let item of commodityService.commodities"
        value="{{ item.commodity }}"
      ></option>
    </datalist>
  </div>
  <div class="submit">
    <input type="submit" value="CREATE ITEM" />
  </div>
</form> -->
