<div class="home">
  <div class="mainheader">
    <app-header
      [primaryView]="storeView"
      [secondaryView]="secondaryView"
      [views]="views"
      (setView)="setView($event)"
    ></app-header>
  </div>
  <div class="mainbody">
    <app-prescription
      *ngIf="secondaryView == dispenseView"
      [host]="storeView.view"
    ></app-prescription>
    <app-request
      *ngIf="secondaryView == requestView"
      [client]="storeView.view"
    ></app-request>
    <app-issue
      *ngIf="secondaryView == issueView"
      [host]="storeView.view"
    ></app-issue>
    <app-statistics
      [clinic]="storeView.view"
      *ngIf="secondaryView == statisticsView"
    ></app-statistics>
  </div>
  <div class="mainfooter">
    <app-footer></app-footer>
  </div>
</div>
