<div class="shop">
  <header>
    <div class="logo">
      <app-logo [view]="isMyView ? myView : view"></app-logo>
    </div>

    <div class="navigation">
      <app-navigation
        [views]="views"
        (setView)="setView($event)"
      ></app-navigation>
    </div>
  </header>
  <div class="body">
    <app-prescription
      *ngIf="secondaryView == dispenseView"
      [host]="view.view"
    ></app-prescription>

    <app-issue *ngIf="secondaryView == issueView"></app-issue>
    <app-request
      *ngIf="secondaryView == requestView"
      [client]="view.view"
    ></app-request>
    <app-statistics
      *ngIf="secondaryView == chartsView"
      [clinic]="view.view"
    ></app-statistics>
    <!-- <app-statistics></app-statistics> -->
  </div>
</div>
