/* start of code for selcting shops */
.getshop {
  height: 100%;
  background-color: rgb(25, 25, 91);
  color: white;
}
h4 {
  text-align: center;
  font-size: large;
}
.control {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 5vh;
}
.control button {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
.control button:hover {
  background-color: aqua;
  color: black;
}
/* ****end of code for selecting shops*** */
