<div class="home" *ngIf="view == home">
  <app-masterstatisticshome
    [outlets]="getItems()"
    (emitOutlet)="view = $event"
  ></app-masterstatisticshome>
</div>
<app-dashboardchart
  *ngIf="view == dashboardItem"
  [view]="{ icon: faChartBar, view: view }"
  (returnHome)="returnHome($event)"
  (navigateHome)="view = home"
></app-dashboardchart>
<app-dispensedchart
  *ngIf="view == dispensedItem"
  [view]="{ icon: faChartBar, view: view }"
  (returnHome)="returnHome($event)"
  (navigateHome)="view = home"
></app-dispensedchart>
<!-- <app-receivedchart*ngIf="view == receivedItem"
  [view]="{ icon: faChartBar, view: view }"
  (returnHome)="returnHome($event)"
  (navigateHome)="view = home"></app-receivedchart> -->
