/* start of code for selcting shops */
.getView {
  height: 100%;
  background-color: rgb(25, 25, 91);
  color: white;
  padding-top: 10%;
}
h4 {
  text-align: center;
  font-size: large;
}
.control {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 5vh;
}
.control button {
  padding: 0;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
.control button span {
  padding-top: 5px;
}
.control button .icon {
  flex: 0 0 20%;
  height: 100%;
  background-color: rgb(119, 141, 141);
}
.control button .name {
  height: 100%;
  flex: 0 0 80%;
}

.control button:hover {
  background-color: aqua;
  color: black;
}
/* ****end of code for selecting shops*** */
