<div class="home">
  <div class="mainheader">
    <app-header
      [primaryView]="storeView"
      [secondaryView]="secondaryView"
      [views]="views"
      (setView)="setView($event)"
    ></app-header>
  </div>
  <div class="mainbody">
    <app-createcommodity
      *ngIf="secondaryView == createView"
    ></app-createcommodity>
    <app-updatecommodity
      *ngIf="secondaryView == updateView"
    ></app-updatecommodity>
    <app-deletecommodity
      *ngIf="secondaryView == deleteView"
    ></app-deletecommodity>
  </div>
  <div class="mainfooter">
    <app-footer></app-footer>
  </div>
</div>
