<div class="dashboard">
  <h3 class="heading">summary dashboard for site</h3>
  <div class="issue">
    <div class="issue-container" *ngFor="let item of inventories">
      <div class="primary">
        <table>
          <thead>
            <tr>
              <th>medicines</th>
              <th>available</th>
              <th>beggining</th>
              <th>received</th>

              <th>dispensed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ item.commodity }}</td>

              <td>
                {{
                  item.beggining +
                    reduceSum(item.received) -
                    reduceSum(item.dispensed)
                }}
              </td>
              <td>{{ item.beggining }}</td>
              <td>{{ reduceSum(item.received) }}</td>

              <td>{{ reduceSum(item.dispensed) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-showdetailedinventory
        [commodity]="item.commodity"
      ></app-showdetailedinventory>
    </div>
  </div>

  <!-- hfhfjhj -->
</div>
