<div class="dashboard">
  <h3 class="heading">summary dashboard for site</h3>
  <div class="issue">
    <div class="issue-container" *ngFor="let item of inventories">
      <div class="primary">
        <table>
          <thead>
            <tr>
              <th>medicines</th>
              <th>available</th>
              <th>beggining</th>
              <th>received</th>

              <th>dispensed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ item.commodity }}</td>

              <td>
                {{
                  item.beggining +
                    reduceSum(item.received) -
                    reduceSum(item.dispensed)
                }}
              </td>
              <td>{{ item.beggining }}</td>
              <td>{{ reduceSum(item.received) }}</td>

              <td>{{ reduceSum(item.dispensed) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="secondary">
        <button class="inspectbtn" (click)="inspect(item)">
          {{ item.inspect ? "CLOSE" : "VIEW DETAILS" }}
        </button>
      </div>
      <div class="primary tertiary" *ngIf="item.inspect">
        <table>
          <thead>
            <tr>
              <th>store</th>
              <th>available</th>
              <th>beggining</th>
              <th>received</th>
              <th>issued</th>

              <th>dispensed</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let statistic of statisticsService.getInventoryByCommodity(
                  item.commodity
                )
              "
            >
              <td>{{ statistic.store }}</td>

              <td>
                {{
                  statistic.beggining +
                    reduceSum(statistic.received) -
                    reduceSum(statistic.dispensed)
                }}
              </td>
              <td>{{ statistic.beggining }}</td>
              <td>{{ reduceSum(statistic.received) }}</td>

              <td>{{ reduceSum(statistic.issued) }}</td>
              <td>{{ reduceSum(statistic.dispensed) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- hfhfjhj -->
</div>
