<div class="mainapp">
  <div class="home" *ngIf="view == home">
    <app-home
      [homeView]="home"
      [heading]="'select a collection to manage'"
      [views]="views"
      (getView)="setView($event)"
    ></app-home>
  </div>
  <div class="home" *ngIf="view == inventoryView">
    <app-manageinventory
      [storeView]="view"
      (sendView)="setView($event)"
    ></app-manageinventory>
  </div>
  <div class="home" *ngIf="view == clientView">
    <app-manageclient
      [storeView]="view"
      (sendView)="setView($event)"
    ></app-manageclient>
  </div>
  <div class="home" *ngIf="view == commodityView">
    <app-managecommodity
      [storeView]="view"
      (sendView)="setView($event)"
    ></app-managecommodity>
  </div>
  <div class="home" *ngIf="view == storeView">
    <app-managestore
      [storeView]="view"
      (sendView)="setView($event)"
    ></app-managestore>
  </div>
</div>
