.logocontainer {
  height: 100%;
  padding: 0.5vh;
  background-color: aquamarine;
}
.logo {
  height: 80%;
  color: rgb(224, 137, 196);
  text-align: center;
}
.location {
  height: 20%;
  color: rgb(165, 91, 91);
}
