<div class="home">
  <div class="mainheader">
    <app-header
      [primaryView]="storeView"
      [secondaryView]="secondaryView"
      [views]="views"
      (setView)="setView($event)"
    ></app-header>
  </div>
  <div class="mainbody">
    <app-createstore *ngIf="secondaryView == createView"></app-createstore>
    <app-updatestore *ngIf="secondaryView == updateView"></app-updatestore>
    <app-deletestore *ngIf="secondaryView == deleteView"></app-deletestore>
  </div>
  <div class="mainfooter">
    <app-footer></app-footer>
  </div>
</div>
