<div class="home">
  <div class="mainheader">
    <app-header
      [primaryView]="storeView"
      [secondaryView]="secondaryView"
      [views]="views"
      (setView)="setView($event)"
    ></app-header>
  </div>
  <div class="mainbody">
    <app-createclient *ngIf="secondaryView == createView"></app-createclient>
    <app-deleteclient *ngIf="secondaryView == deleteView"></app-deleteclient>
    <app-updateclient *ngIf="secondaryView == updateView"></app-updateclient>
  </div>
  <div class="mainfooter">
    <app-footer></app-footer>
  </div>
</div>
