<header>
  <div class="logo">
    <app-logo [view]="isMyView ? myView : view"></app-logo>
  </div>

  <div class="navigation">
    <app-navigation
      [views]="views"
      (setView)="setView($event)"
    ></app-navigation>
  </div>
</header>
<div class="body">
  <!-- <app-statistics></app-statistics> -->
  <app-createclient *ngIf="secondaryView == createView"></app-createclient>
  <app-deleteclient *ngIf="secondaryView == deleteView"></app-deleteclient>
  <app-updateclient *ngIf="secondaryView == updateView"></app-updateclient>
</div>
