<div class="statistics">
  <div class="sidemenu">
    <button
      class="sidemenubtn"
      *ngFor="let view of sidemenu"
      (click)="setView(view)"
    >
      {{ view | uppercase }}
    </button>
  </div>
  <div class="statistic">
    <app-dispensedstats *ngIf="view == dispensedView"></app-dispensedstats>
    <app-dashboard
      [inventory]="statisticsService.getStoreInventorySummary(clinic)"
      *ngIf="view == dashboardView"
    ></app-dashboard>
    <app-issuedstats
      *ngIf="view == issuedView"
      [issued]="issueService.issued"
    ></app-issuedstats>
  </div>
</div>
