<div class="mainapp">
  <div class="home" *ngIf="view == home">
    <app-home
      [homeView]="home"
      [heading]="'select a statistic to view'"
      [views]="views"
      (getView)="setView($event)"
    ></app-home>
  </div>
  <div class="home" *ngIf="view == viewService.manageView">
    <app-dashboardchart [storeView]="view"></app-dashboardchart>
  </div>
  <div class="home" *ngIf="view == viewService.clinicsView">
    <app-dispensedchart [storeView]="view"></app-dispensedchart>
  </div>
  <div class="home" *ngIf="view == viewService.statisticsView">
    <app-receivedchart [storeView]="view"></app-receivedchart>
  </div>
</div>
