<div class="mainapp">
  <div class="home" *ngIf="view == home">
    <app-home
      [homeView]="home"
      [heading]="'select a statistic to view'"
      [views]="views"
      (getView)="setView($event)"
    ></app-home>
  </div>
  <div class="home" *ngIf="view == summaryView">
    <app-dashboardchart
      [storeView]="view"
      (sendView)="setView($event)"
    ></app-dashboardchart>
  </div>
  <div class="home" *ngIf="view == dispensedView">
    <app-dispensedchart
      [storeView]="view"
      (sendView)="setView($event)"
    ></app-dispensedchart>
  </div>
  <div class="home" *ngIf="view == receivedView">
    <app-receivedchart
      [storeView]="view"
      (sendView)="setView($event)"
    ></app-receivedchart>
  </div>
</div>
